<div class="sort-by-section clearfix">
    <h4 class="sort-by-title block-sm">Sort results by:</h4>
    <ul class="sort-bar clearfix block-sm">
        <li class="sort-by-name {% if sort=='name' %}active{% endif %}">
            <a class="sort-by-container" href="{{ path('front_program_courses',{'page':1,'language':language,'country':country,'city':city,'stars':stars,'keyword':keyword,'sort':'name','desc':desc}) }}">
                <span>Name</span>
            </a>
        </li>
        <li class="sort-by-price {% if sort=='stars' %}active{% endif %}">
            <a class="sort-by-container" href="{{ path('front_program_courses',{'page':1,'language':language,'country':country,'city':city,'stars':stars,'keyword':keyword,'sort':'stars','desc':desc}) }}">
                <span>Stars</span>
            </a>
        </li>
        <li class="sort-by-rating {% if sort=='reviews' %}active{% endif %}">
            <a class="sort-by-container" href="{{ path('front_program_courses',{'page':1,'language':language,'country':country,'city':city,'stars':stars,'keyword':keyword,'sort':'reviews','desc':desc}) }}">
                <span>Rating</span>
            </a>
        </li>
    </ul>
</div>