{% macro edit(path) %}
    <a href="{{ path }}" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
    {% endmacro %}

{% macro delete(path) %}
    <a href="{{ path }}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Delete" onclick="javascript:return(confirm('Are you sure you want to delete this line??'))"><i class="fa fa-times fa fa-white"></i></a>
    {% endmacro %}

{% macro enregistrer() %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-wide pull-right" type="submit">
                Submit <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
{% endmacro %}
