<h1>Congratulations {{ form1.firstName }}!</h1>
<p>You have successfully submitted your  Application for <strong>{{ form1.course }}</strong> .</p>
<p>One of our academic advisors will review your application and will contact you via e-mail within one week of your submission to inform you if your application is complete or if further information/documents are required.</p>
<p>We encourage you to check your e-mail account settings to add Worldwide Studies to your list of safe senders to ensure you receive our emails.</p>
<p>Thank you for choosing Worldwide Studies!</p>
<p>Admissions Team</p>

