/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/.idea/
/nbproject/
/public_html/bundles/
/public_html/uploads/
/public_html/media/
/Babysitter
.bash_logout        
.bash_profile       
.bash_profile.rpmnew
.bashrc             
.cagefs/            
.cl.selector/       
.composer/          
.contactemail       
.cpanel/            
.cphorde/           
.gemrc              
.lastlogin          
.trash/             
.viminfo            
.zshrc              
access-logs         
etc/                
logs/               
tmp/                
web/                
www                 