{% extends ":Front:base.html.twig" %}
{% block body %}
    <section id="content" class="slideshow-bg">
        <div id="slideshow">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slidebg" style="background-image: url('{{ asset('front-assets/images/group.jpg') }}');"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url('{{ asset('front-assets/images/group2.jpg') }}');"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url('{{ asset('front-assets/images/group3.jpg') }}');"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url('{{ asset('front-assets/images/group4.jpg') }}');"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9" style="  padding-top: 20px;">
                    <div class="search-box-wrapper style1">
                        <div class="search-box">
                            <ul class="search-tabs clearfix">
                                <li class="active"><a href="#hotels-tab" data-toggle="tab"><i class="soap-icon-conference"></i>Language course</a></li>
                                <li><a href="#flights-tab" data-toggle="tab"><i class="soap-icon-businessbag"></i>Pathway program</a></li>
                                <li><a href="#flight-and-hotel-tab" data-toggle="tab"><i class="soap-icon-hotel-1"></i>Universities</a></li>
                                <li><a href="#cars-tab" data-toggle="tab"><i class="soap-icon-carryon"></i>Student accommodation</a></li>
                            </ul>
                            <div class="visible-mobile">
                                <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                    <li class="active"><a href="#hotels-tab">Language course</a></li>
                                    <li><a href="#flights-tab">Pathway program</a></li>
                                    <li><a href="#flight-and-hotel-tab">Universities</a></li>
                                    <li><a href="#cars-tab">Student accommodation</a></li>
                                </ul>
                            </div>

                            <div class="search-tab-content">
                                <div class="tab-pane fade  active in" id="hotels-tab">
                                    <form action="hotel-list-view.html" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">Language course</h2>
                                            <p>We're bringing you a new level of comfort.</p>
                                            <i class="soap-icon-conference"></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Select a language</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All languages</option>
                                                            <option value="1">English</option>
                                                            <option value="2">French</option>
                                                            <option value="3">German</option>
                                                            <option value="4">Arabic</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All countries</option>
                                                            <option value="1">Uk</option>
                                                            <option value="2">USA</option>
                                                            <option value="3">France</option>
                                                            <option value="4">Cananda</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="flights-tab">
                                    <form action="hotel-list-view.html" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">Pathway program</h2>
                                            <p>We're bringing you a new level of comfort.</p>
                                            <i class="soap-icon-conference"></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <label>Select a level of study</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All levels</option>
                                                            <option value="1">Foundation year</option>
                                                            <option value="2">Pre-Master</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Language</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All languages</option>
                                                            <option value="1">French</option>
                                                            <option value="2">English</option>
                                                            <option value="2">Germany</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Subject</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All subjects</option>
                                                            <option value="1">Art</option>
                                                            <option value="2">Biology</option>
                                                            <option value="2">MSC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All countries</option>
                                                            <option value="1">Uk</option>
                                                            <option value="2">USA</option>
                                                            <option value="3">France</option>
                                                            <option value="4">Cananda</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Key word</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" class="input-text full-width" placeholder="School's name, courses, city, country ..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="flight-and-hotel-tab">
                                    <form action="hotel-list-view.html" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">Universities</h2>
                                            <p>We're bringing you a new level of comfort.</p>
                                            <i class="soap-icon-conference"></i>
                                        </div>
                                        <div class="search-content">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Select a level of study</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All levels</option>
                                                            <option value="1">Foundation year</option>
                                                            <option value="2">Pre-Master</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Qualification</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All qualifications</option>
                                                            <option value="1">MSC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Subject</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All subjects</option>
                                                            <option value="1">Art</option>
                                                            <option value="2">Biology</option>
                                                            <option value="2">MSC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Study Mode</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">all modes</option>
                                                            <option value="">Full time</option>
                                                            <option value="">past time</option>
                                                            <option value="1">on line</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All countries</option>
                                                            <option value="1">Uk</option>
                                                            <option value="2">USA</option>
                                                            <option value="3">France</option>
                                                            <option value="4">Cananda</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Key word</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" class="input-text full-width" placeholder="School's name, courses, city, country ..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="cars-tab">
                                    <form action="hotel-list-view.html" method="post">
                                        <div class="title-container">
                                            <h2 class="search-title">Accomodation</h2>
                                            <p>We're bringing you a new level of comfort.</p>
                                            <i class="soap-icon-conference"></i>
                                        </div>
                                        <div class="search-content">
                                            <h5 class="title"></h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Select type accommodation</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All types</option>
                                                            <option value="1">Residence</option>
                                                            <option value="2">Home stay</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Where</h5>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label>Country</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All countries</option>
                                                            <option value="1">Uk</option>
                                                            <option value="2">USA</option>
                                                            <option value="3">France</option>
                                                            <option value="4">Cananda</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>City</label>
                                                    <div class="selector">
                                                        <select class="full-width">
                                                            <option value="">All cities</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <h5 class="title">Keyword</h5>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="text" class="input-text full-width" placeholder="Search..." />
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="full-width uppercase">Proceed To Result</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3" style="  z-index: 11;padding-top: 20px;">
{#                    <div class="travelo-box contact-box">
                        <h4>Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br>
                            <a class="contact-email" href="#">help@travelo.com</a>
                        </address>
                    </div>#}
                    <div class="fb-page" data-href="https://www.facebook.com/WorldwideStudiesTunisia" data-width="270px" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WorldwideStudiesTunisia"><a href="https://www.facebook.com/WorldwideStudiesTunisia">Worldwide Studies</a></blockquote></div></div>                   
                </div>
            </div>
        </div>

        {% if false %}
            <div class="featured image-box">
                <div class="details pull-left">
                    <h3>Tropical Beach,<br/>Hotel and Resorts</h3>
                    <h5>THAILAND</h5>
                </div>
                <figure class="pull-left">
                    <a class="badge-container" href="#">
                        <span class="badge-content right-side">From $200</span>
                        <img width="64" height="64" alt="" src="http://placehold.it/64x64" class="">
                    </a>
                </figure>
            </div>
        {% endif %}
    </section>
{% endblock %}