<div class="sort-by-section clearfix">
    <h4 class="sort-by-title block-sm">Sort results by:</h4>
    <ul class="sort-bar clearfix block-sm">
        <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
        <li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
        <li class="clearer visible-sms"></li>
        <li class="sort-by-rating active"><a class="sort-by-container" href="#"><span>rating</span></a></li>
        <li class="sort-by-popularity"><a class="sort-by-container" href="#"><span>popularity</span></a></li>
    </ul>

    <ul class="swap-tiles clearfix block-sm">
        <li class="swap-list active">
            <a href="hotel-list-view.html"><i class="soap-icon-list"></i></a>
        </li>
        <li class="swap-grid">
            <a href="hotel-grid-view.html"><i class="soap-icon-grid"></i></a>
        </li>
        <li class="swap-block">
            <a href="hotel-block-view.html"><i class="soap-icon-block"></i></a>
        </li>
    </ul>
</div>