{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Reset password</h2>
            </div>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            {% trans_default_domain 'FOSUserBundle' %}
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-12">
                    <div class="booking-section travelo-box">
                        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                            <h2>Reset password</h2>
                            {{ form_widget(form) }}
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large">{{ 'resetting.reset.submit'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}
