<footer id="footer">
    <div class="bottom">
        <div class="container">
            <div class="logo pull-left">
                <a href="{{ path('accueil') }}" title="Home page" style=" background: url('{{ render(controller('FrontGeneralBundle:Front:logo')) }}') no-repeat 0 0;">
                    <img src="{{ render(controller('FrontGeneralBundle:Front:logo')) }}" alt="" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2015 World wide studies</p>
            </div>
        </div>
    </div>
</footer>