<footer id="footer">
    <div class="bottom">
        <div class="container">
            <div class="logo pull-left">
                <a href="index.html" title="Travelo - home">
                    <img src="{{ asset('front-assets/images/logo.png') }}" alt="Travelo HTML5 Template" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2014 World wide studies</p>
            </div>
        </div>
    </div>
</footer>