<footer id="footer">
    <div class="bottom">
        <div class="container">
            <div class=" pull-left" style="padding-top: 20px;">
                <a href="index.html">
                    <img src="{{ asset('front-assets/images/logo.png') }}" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2015 World Wide Studies</p>
            </div>
        </div>
    </div>
</footer>