<header id="header" class="navbar-static-top">
    {% include ':Front:topnav.html.twig' %}
    <div class="main-header">
        <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
            Mobile Menu Toggle
        </a>
        <div class="container">
            <h1 class="logo navbar-brand">
                <a href="{{ path('accueil') }}" title="Home page">
                    <img src="{{ asset('front-assets/images/logo.png') }}" alt="Logo" id="PrincipalLogo" />
                </a>
            </h1>
            {% include ':Front:menu.html.twig' %}
        </div>
        {% include ':Front:menumobile.html.twig' %}
    </div>
</header>